body{
    margin: 0 auto;
    text-align: center;
}
.myBtn{
    padding: 10px;
    border-radius: 50px;
    background-color: orange;
}
.row{
    display: flex;
    height: 100px;
    justify-content: center;
    /* background-color: bisque; */
    }
.box{
    width: 150px;
    margin: 10px;
    /* background-color: aqua; */
    border: 1px solid black; 
}