body{
    width: 400px;
    height: 80vh;
    margin: -16px;
}
.side-bar{
    margin-top: 0;
    height: 80vh;
    background-color: #000;
    transform: translateX(-40%);

}
.side-bar:hover{
    transform: translateX(-30%);
    width: 100%;
}
ul{
    padding: 10px 0;
}
.side-bar ul li{ 
    margin: 10px 0;
    list-style: none;
    padding: 1.5rem 0 ;
    background-color: green;
}
.side-bar ul li a{
    text-decoration: none;
    padding: 20px 60px;
    color: white;
    font-weight: 500;
    transition: all .5s;
}
.side-bar ul li a:hover{
    font-size: 2rem;
    color:#000;
    width: 50px;
}
/* .side-bar ul li:hover {
    background-color: #fff;
} */


