body{
    width: 200px;
    height: 80vh;
    /* margin: -16px; */
}
.side-bar{
    margin-top: 0;
    height: 80vh;
    background-color: #000;
    transform: translateX(-85%);
}
.side-bar:hover{
    transform: translateX(-9%);
    width: 250px;
}
ul{
    padding: 10px 0;
}
.side-bar ul li{ 
    margin: 10px 0;
    list-style: none;
    padding: 1.5rem 0 ;
    background-color: green;
}
.side-bar ul li a{
    /* display: none; */
    text-decoration: none;
    padding: 20px 60px;
    color: white;
    /* font-weight: 500; */
    overflow-y: hidden;
    transition:  .5s;    
}
.side-bar ul li a:hover{
    /* display: inline-block; */
    font-size: 2rem;
    color:#000;
    width: 250px;
    transition: margin-left .5s;
    z-index: -1;
}
/* .side-bar ul li:hover {
    background-color: #fff;
} */


