body{
    margin: 0 auto;
    box-sizing: border-box;
}
.container{
    margin: 10px;
    /* text-align: center; */
}
form{
    margin: 10px;
}
form input{
    margin: 10px 0;
    padding: 15px;
    width: 500px;
    background-color: rgb(218, 213, 213);
    border-radius: 10px;
    border: none;
}
/* button{
    padding: 15px;
    background-color: grey;
    color: white;
    width: 500px;
    
} */